/* src/App.css */
.App {
  font-family: 'Arial', sans-serif;
  text-align: center;
  background: linear-gradient(135deg, #ece9e6, #ffffff);
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

p {
  font-size: 1.5em;
  color: #555;
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.6;
}

main {
  padding: 20px;
}
